body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fest-pass {
    width: 21.5cm;
    height: 7cm;
    border: 2px solid #fca311;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 20px;
    display: flex;
    margin-left: -15cm;
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.background-layer.first {
    background-image: url('/img/1_20250122_181954_0000.png');
    background-size: cover;
    background-position: 0 -100px;
    z-index: 0;
    overflow: hidden;
}

.background-layer.second {
    background: url('img/3_20250122_181954_0002.png') no-repeat center center;
    background-size: cover;
    mix-blend-mode: overlay;
    z-index: 1;
    opacity: 1;
}

.header {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    flex: 2;
}

.header .subtitle {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.header .title {
    font-family: 'EASPORTS', sans-serif;
    font-size: 70px;
    font-weight: bold;
    margin: 12px 0;
}

.header .tagline {
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
}

.header .date {
    font-family: 'EASPORTS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fca311;
    margin-top: 10px;
}

.header .location {
    font-size: 0.8em;
    margin-top: 3px;
}

.details {
    margin-top: 15px;
    font-size: 14px;
    font-family: 'EASPORTS', Arial, sans-serif;
    color: white;
    text-align: center;
}

.details p {
    margin: 5px 0;
}

.details strong {
    color: #fca311;
}

.wave {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: url('img/3_20250122_181954_0002.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: waveMovement 5s linear infinite;
}

@keyframes waveMovement {
    0% {
        background-position: 70% 0;
    }
    100% {
        background-position: 2 0;
    }
}

.logo-section {
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo-section img {
    transform: rotate(1deg);
}

.logo {
    width: 180px;
    height: auto;
}

.barcode-section {
    position: absolute;
    left: -120px;
    top: 50%;
    transform: translateY(-50%);
    width: 220px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border-right: 2px solid #fca311;
}

.barcode {
    width: 100%;
    height: auto;
    transform: rotate(90deg);
}

@font-face {
    font-family: 'EASPORTS';
    src: url('/fonts/EASPORTS15.ttf') format('truetype');
}
